.item {
    color: orangered;
}

.PostWrapper {
    padding: 0px 200px 0px 10px;
    font-size: 10px;
    background-color: orange;
}

.textarea {
    padding: 2px ;
}

.addPost {
    margin-bottom: 10px;
    padding: 1px;
}