.item {
    color: rgb(27, 219, 85)
}

.postWrapper {
    padding: 4px;
    background: rgb(255, 255, 255);
    margin-top: 15px;
    border: 2px teal solid;
    display:block;

}

.like {
    border: 1px teal solid;
    background: #ffffff;

}

.PostContainer {
    border: 2px white solid;
    display: flex;
    justify-content: revert;
}