.nav {
    grid-area: n;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.link {
    margin: 20px;
}

.button:hover {
    color: blue;

}
